
@model TrainigSectorDataEntry.ViewModel.DepartmentsandbranchVM


<div class="container-fluid">
    <div class="contPage">
        <div class="orang2">
            <h3>اضافة شعبة </h3>
            <div></div>
        </div>
    </div>
<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <br />

        <div class="form-group">
            <label asp-for="DepatmentTypeID" class="control-label">اسم نوع القسم</label>
            <select asp-for="DepatmentTypeID" asp-items="ViewBag.DepartmentTypeList" id="DepatmentTypeID"  class="form-control">
                <option value="">-- اختر نوع القسم --</option>
            </select>
            <span asp-validation-for="DepatmentTypeID" class="text-danger"></span>
        </div>
  
    <br />
    <div class="form-group">
        <label asp-for="EducationalFacilitiesId" class="control-label">اسم المنشأة التعليمية</label>
            <select asp-for="EducationalFacilitiesId" asp-items="ViewBag.EducationalFacilityList" id="EducationalFacilitiesId" class="form-control">
            <option value="">-- اختر منشأة تعليمية --</option>
        </select>
        <span asp-validation-for="EducationalFacilitiesId" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="NameAr" class="control-label">الاسم باللغة العربية</label>
        <input asp-for="NameAr" class="form-control" />
        <span asp-validation-for="NameAr" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="NameEn" class="control-label">الاسم باللغة الانجليزي</label>
        <input asp-for="NameEn" class="form-control" />
        <span asp-validation-for="NameEn" class="text-danger"></span>
    </div>
    <br />

    <br />

    <div class="row">

        <div class="col-md-6">
            <button type="submit" class="button right-4tens float-left">


                <span class="button__text"> إضافة</span>
                <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>

            </button>
        </div>
        <div class="col-md-6">
            <a asp-action="Index" class="buttonremove right-4tens float-right" style="border: 1px solid #333333;background-color: #333333;" >
                <span class="buttonremove__text"> إلغاء</span>
                <span class="buttonremove__icon" style="background-color: #333333;"> <i class="fa-solid fa-x"></i></span>
            </a>
        </div>
    </div>
    



</form>
<br />

 <div class="card mt-5">
    <div class="card-header">
        <strong class="text-center" style="margin-bottom: 80px;">الشعب</strong>
    </div>
    <div class="card-body">
        <h3>الشعب</h3>

        <table class="table table-bordered table-striped" id="departmentTable">
            <thead class="thead-dark">
                <tr>
                    <th>الاسم باللغة العربية</th>
                    <th>الاسم باللغة الانجليزية</th>
                    <th>اسم المنشأة التعليمية</th>
                    <th>نوع القسم</th>
                    <th>التفعيل</th>

                </tr>
            </thead>
            <tbody>

        

                @if (ViewBag.existingDepartmentsandbranch != null)
                {
                    @Html.Partial("_DepartmentsandbranchesPartial", (List<TrainigSectorDataEntry.ViewModel.DepartmentsandbranchVM>)ViewBag.existingDepartmentsandbranch)
               
                }
            </tbody>
        </table>

    </div>
</div> 

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function() {
            $('#EducationalFacilitiesId').change(function() {
                var facilityId = $(this).val();
                if (facilityId) {
                    $.ajax({
                        url: '@Url.Action("GetDepartmentByFacility", "Departmentsandbranches")',
                        type: 'GET',
                        data: { facilityId: facilityId },
                        success: function(data) {
                            $('#departmentTable tbody').html(data);
                        }
                    });
                } else {
                    $('#departmentTable tbody').html('');
                }
            });
                $('#DepatmentTypeID').change(function () {
                        var departmentTypeId = $(this).val();

                        //لو معمل او ورشة المنشأة لازم تكون قطاع التدريب
                            if (departmentTypeId == 1 ||departmentTypeId == 3) {
                            // force Educational Facility = 7
                            $('#EducationalFacilitiesId').val('7').prop('disabled', true);
                        } else {
                            // enable again
                            $('#EducationalFacilitiesId').prop('disabled', false);
                        }
                    });

                    // ensure value is submitted even if disabled
                    $('form').submit(function () {
                        $('#EducationalFacilitiesId').prop('disabled', false);
                    });
        });
    </script>
  

}

</div>

