@model TrainigSectorDataEntry.ViewModel.DepartmentsandbranchVM

@{
    ViewData["Title"] = "تعديل الشعب";
}




<div class="container-fluid">
    <div class="contPage">

        <div class="orang2">
            <h3>تعديل الشعب </h3>
            <div></div>
        </div>

    </div>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <br />
    <div class="form-group">
        <input type="hidden" id="CurrentFacilityId" value="@Model.EducationalFacilitiesId" />

        <label asp-for="EducationalFacilitiesId" class="control-label">اسم المنشأة التعليمي</label>
        <select asp-for="EducationalFacilitiesId" asp-items="ViewBag.EducationalFacilityList" class="form-control">
            <option value="">-- اختر المنشأة التعليمية --</option>
        </select>
        <span asp-validation-for="EducationalFacilitiesId" class="text-danger"></span>
    </div>
@* 
    <div class="form-group">
        <input type="hidden" id="CurrentspecializationsId" value="@Model.SpecializationId" />

        <label asp-for="SpecializationId" class="control-label">اسم التخصص</label>
        <select asp-for="SpecializationId" asp-items="ViewBag.specializationList" class="form-control">
            <option value="">-- اختر التخصص --</option>
        </select>
        <span asp-validation-for="SpecializationId" class="text-danger"></span>
    </div> *@
    <br />
    <div class="form-group">
        <label asp-for="DepatmentTypeID" class="control-label">اسم نوع القسم</label>
        <select asp-for="DepatmentTypeID" asp-items="ViewBag.DepartmentTypeList" class="form-control">
            <option value="">-- اختر نوع القسم --</option>
        </select>
        <span asp-validation-for="DepatmentTypeID" class="text-danger"></span>
    </div>

    <br />
    <div class="form-group">
        <label asp-for="NameAr" class="control-label">الاسم باللغة العربية</label>
        <input asp-for="NameAr" class="form-control" />
        <span asp-validation-for="NameAr" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="NameEn" class="control-label">الاسم باللغة الانجليزي</label>
        <input asp-for="NameEn" class="form-control" />
        <span asp-validation-for="NameEn" class="text-danger"></span>
    </div>


    <br />

    <div class="form-group">
        <label asp-for="IsActive" class="control-label">التفعيل</label>
        <input asp-for="IsActive" class="form-check-input" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <br />

        <div class="row">

            <div class="col-md-6">

                <button type="submit" class="button right-4tens float-left">
                    <span class="button__text"> حفظ </span>
                    <span class="button__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg save-icon">

                            <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                            <polyline points="17 21 17 13 7 13 7 21"></polyline>
                            <polyline points="7 3 7 8 15 8"></polyline>

                        </svg>
                    </span>
                </button>


            </div>
            <div class="col-md-6">

                <a asp-action="Index" class="buttonremove right-4tens float-right" style="border: 1px solid #333333;background-color: #333333;" >

                    <span class="buttonremove__text"> إلغاء</span>
                    <span class="buttonremove__icon" style="background-color: #333333;"> <i class="fa-solid fa-x"></i></span>
                </a>

            </div>

        </div>

</form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
@* 
    <script>
        $(document).ready(function () {
            $('#EducationalFacilitiesId').change(function () {
                var facilityId = $(this).val();

                if (facilityId) {
                    $.ajax({
                        url: '/Departmentsandbranches/GetspecializationByFacilityId',
                        type: 'GET',
                        data: { facilityId: facilityId },
                        success: function (data) {
                            var $specializations = $('#SpecializationId');
                            var selectedspecializationsId = $('#CurrentspecializationsId').val();

                            $specializations.empty();
                            $specializations.append('<option value="">-- اختر التخصص --</option>');
                            $.each(data, function (i, specialization) {
                                $specializations.append('<option value="' + specialization.value + '">' + specialization.text + '</option>');
                            });
                        }
                    });
                }
            });
        });


    </script> *@
}

