@model TrainigSectorDataEntry.ViewModel.SliderVM

@{
    ViewData["Title"] = "تعديل ال slider";
}


<div class="container-fluid">
    <div class="contPage">


        <div class="orang2">
            <h3>تعديل slider </h3>
            <div></div>
        </div>


    </div>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
        <label asp-for="TrainigSectorId" class="control-label">اسم الجهة</label>
        <select asp-for="TrainigSectorId" asp-items="ViewBag.trainingSectorList" class="form-control">
            <option value="">-- اختر الجهة --</option>
        </select>
        <span asp-validation-for="TrainigSectorId" class="text-danger"></span>
    </div>
    </div>
        <div class="col-md-6"> <div class="form-group" style="margin-top: 35px;">
        <label asp-for="IsActive" class="control-label">التفعيل</label>
        <input asp-for="IsActive" class="form-check-input" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div></div>
    </div>
     <div class="row">
        <div class="col-md-6">  <div class="form-group">
        <label asp-for="TitleAr" class="control-label">العنوان باللغة العربية</label>
        <input asp-for="TitleAr" class="form-control" />
        <span asp-validation-for="TitleAr" class="text-danger"></span>
    </div></div>
        <div class="col-md-6">
             <div class="form-group">
        <label asp-for="TitleEn" class="control-label">العنوان باللغة الانجليزية</label>
        <input asp-for="TitleEn" class="form-control" />
        <span asp-validation-for="TitleEn" class="text-danger"></span>
    </div>
        </div>
    </div>
     <div class="row">
        <div class="col-md-6"><div class="form-group">
        <label asp-for="DescriptionAr" class="control-label">التفاصيل باللغة العربية</label>
        <textarea asp-for="DescriptionAr" class="form-control my-textarea"></textarea>
        <span asp-validation-for="DescriptionAr" class="text-danger"></span>
    </div></div>
        <div class="col-md-6"><div class="form-group">
        <label asp-for="DescriptionEn" class="control-label">التفاصيل باللغة الانجليزية</label>
        <textarea asp-for="DescriptionEn" class="form-control my-textarea"></textarea>
        <span asp-validation-for="DescriptionEn" class="text-danger"></span>
    </div></div>
    </div>

        <div class="form-group">
            <label asp-for="IsVideo" class="control-label">فيديو</label>
            <input asp-for="IsVideo" class="form-check-input" id="isVideoCheckbox" />
            <span asp-validation-for="IsVideo" class="text-danger"></span>
        </div>

 <br />

 <!-- Existing Image or Video -->
 <div class="form-group">
     <label>المحتوى الحالي</label>
     <br />
     @if (Model.IsVideo==true)
     {
         <a href="@Model.FilePath" target="_blank" class="btn btn-info">
             مشاهدة الفيديو الحالي
         </a>
     }
     else
     {
         <img src="/Files/@Model.FilePath"
              style="width:80px;height:80px;object-fit:cover;border:1px solid #ccc" />
     }
 </div>

 <br />
 <!-- Upload New Images -->
 <div class="form-group" id="imageSection">
     <label>تحديث الصورة</label>
     <input asp-for="UploadedFile" type="file" class="form-control" />
     <span asp-validation-for="UploadedFile" class="text-danger"></span>
 </div>

  <!-- Upload New Video -->
 <div class="form-group d-none" id="videoSection">
     <label>رابط الفيديو</label>
     <input asp-for="FilePath" class="form-control" />
     <span asp-validation-for="FilePath" class="text-danger"></span>
 </div>
 <br />
  
   
    @* <button type="submit" class="btn btn-primary">حفظ</button>
    <a asp-action="Index" class="btn btn-secondary">إلغاء</a> *@
        <div class="row">
        
            <div class="col-md-6">
             
                <button type="submit" class="button right-4tens float-left">
                    <span class="button__text"> حفظ </span>
                    <span class="button__icon">
                        <svg xmlns="http://www.w3.org/2000/svg"
     width="24"
     height="24"
     viewBox="0 0 24 24"
     fill="none"
     stroke="currentColor"
     stroke-width="2"
     stroke-linecap="round"
     stroke-linejoin="round"
     class="svg save-icon">

  <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"/>
  <polyline points="17 21 17 13 7 13 7 21"/>
  <polyline points="7 3 7 8 15 8"/>

</svg>
</span>
                </button>
                
               
            </div>
            <div class="col-md-6">
                
                    <a asp-action="Index" class="buttonremove right-4tens float-right" style="border: 1px solid #333333;background-color: #333333;">

                    <span class="buttonremove__text"> إلغاء</span>
                        <span class="buttonremove__icon" style="background-color: #333333;"> <i class="fa-solid fa-x"></i></span>
                </a>
               
            </div>
          
    </div>
</form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
         $(document).ready(function() {
            $("#editForm").submit(function(e) {
                e.preventDefault();

                var formData = new FormData(this);

                $.ajax({
                    url: '@Url.Action("Edit", "Slider")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                           success: function(response) {
            if (response.success) {
                Swal.fire({
                    icon: 'success',
                    title: '',
                    text: response.message,
                    toast: true,
                    position: 'bottom-left',
                    showConfirmButton: false,
                    timer: 2500,
                    background: '#198754',
                    color: '#fff'
                }).then(() => {
                    // Redirect after toast
                    window.location.href = response.redirectUrl;
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'خطأ',
                    text: response.message
                });
            }
        },

                    error: function(xhr) {
                        Swal.fire({
                            icon: 'error',
                            title: 'خطأ',
                            text: 'حدث خطأ أثناء الحفظ'
                        });
                    }
                });
            });
        });
        function toggleSliderType() {
            if ($("#isVideoCheckbox").is(":checked")) {
                $("#imageSection").addClass("d-none");
                $("#videoSection").removeClass("d-none");
            } else {
                $("#imageSection").removeClass("d-none");
                $("#videoSection").addClass("d-none");
            }
        }

        $(document).ready(function () {
            toggleSliderType();
            $("#isVideoCheckbox").change(toggleSliderType);
        });
    </script>
 
}


