@{
    ViewData["Title"] = "Home Page";
}

<div class="Homme">
    <div class="white-mode">
        <h1>
            مرحبا بكم في وزارة الإنتاج الحربي
            <br />
            قطاع التدريب
        </h1>
    </div>
</div>