@model TrainigSectorDataEntry.ViewModel.ServiceVM

@{
    ViewData["Title"] = "تعديل المشاركات المجتمعية و الدولية";
}


<div class="container-fluid">
    <div class="contPage">


        <div class="orang2">
            <h3>تعديل المشاركات المجتمعية و الدولية</h3>
            <div></div>
        </div>


    </div>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br />
    <div class="row">
      
        <div class="col-md-6">   
            <div class="form-group">
        <label asp-for="TitleAr" class="control-label">العنوان باللغة العربية</label>
        <input asp-for="TitleAr" class="form-control" />
        <span asp-validation-for="TitleAr" class="text-danger"></span>
    </div>
    </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TitleEn" class="control-label">العنوان باللغة الانجليزية</label>
                    <input asp-for="TitleEn" class="form-control" />
                    <span asp-validation-for="TitleEn" class="text-danger"></span>
                </div>
            </div>
    </div>
    <div class="row">
      
        <div class="col-md-6"> <div class="form-group">
        <label asp-for="DescriptionAr" class="control-label">التفاصيل باللغة العربية </label>
        <textarea asp-for="DescriptionAr" class="form-control my-textarea" ></textarea>
        <span asp-validation-for="DescriptionAr" class="text-danger"></span>
    </div>
    </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DescriptionEn" class="control-label">التفاصيل باللغة الانجليزية</label>
                    <textarea asp-for="DescriptionEn" class="form-control my-textarea"></textarea>
                    <span asp-validation-for="DescriptionEn" class="text-danger"></span>
                </div>
            </div>
    </div>
    <div class="row">
       
        <div class="col-md-6">
            <div class="form-group">
        <label>الصورة الحالية</label>

        <div>
            @if (Model.ImagePath != null)
            {

                <div class="image-container" data-id="@Model.Id" style="display: inline-block; position: relative; margin: 5px;">
                    <img src="/Files/@Model.ImagePath" alt="Project Image"
                         style="width: 80px; height: 80px; object-fit: cover; border: 1px solid #ccc;" />

                </div>

            }
            else
            {
                <p>لا توجد صور.</p>
            }
        </div>
    </div>
    </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">محلية ام دولية</label><br />

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="Type" type="radio" value="true" />
                        <label class="form-check-label">محلية</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="Type" type="radio" value="false" />
                        <label class="form-check-label">دولية</label>
                    </div>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-6"> <!-- Upload New Images -->
    <div class="form-group">
        <label for="UploadedImages">تحديث الصورة</label>
        <input asp-for="UploadedImage" type="file" class="form-control" />
        <span asp-validation-for="UploadedImage" class="text-danger"></span>
    </div></div>
        <div class="col-md-6">
    <div class="form-group">
        <label asp-for="IsActive" class="control-label">التفعيل</label>
        <input asp-for="IsActive" class="form-check-input" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div></div>
    </div>
  

    <br />
    <div class="row">

            <div class="col-md-6">

                <button type="submit" class="button right-4tens float-left">
                    <span class="button__text"> حفظ </span>
                    <span class="button__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg save-icon">

                            <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                            <polyline points="17 21 17 13 7 13 7 21"></polyline>
                            <polyline points="7 3 7 8 15 8"></polyline>

                        </svg>
                    </span>
                </button>


            </div>
            <div class="col-md-6">

                <a class="buttonremove right-4tens float-right" style="border: 1px solid #333333;background-color: #333333;" asp-action="Index">

                    <span class="buttonremove__text"> إلغاء</span>
                    <span class="buttonremove__icon" style="background-color: #333333;"> <i class="fa-solid fa-x"></i></span>
                </a>

            </div>

        </div>
   
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
</div>
