@model TrainigSectorDataEntry.ViewModel.StudentActiviteVM

@{
    ViewData["Title"] = "تعديل الانشطة الطلابية";
}

<h2 class="text-center" style="margin-bottom: 80px;">تعديل الانشطة الطلابية</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br />
    <div class="form-group">
        <label asp-for="EducationalFacilitiesId" class="control-label">اسم المنشأة التعليمية</label>
        <select asp-for="EducationalFacilitiesId" asp-items="ViewBag.educationalFacilityList" class="form-control">
            <option value="">-- اختر منشأة تعليمية --</option>
        </select>
        <span asp-validation-for="EducationalFacilitiesId" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="DescriptionAr" class="control-label">التفاصيل باللغة العربية</label>
        <textarea asp-for="DescriptionAr" class="form-control my-textarea"></textarea>
        <span asp-validation-for="DescriptionAr" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="DescriptionEn" class="control-label">التفاصيل باللغة الانجليزية</label>
        <textarea asp-for="DescriptionEn" class="form-control my-textarea"></textarea>
        <span asp-validation-for="DescriptionEn" class="text-danger"></span>
    </div>
    <br />
    <!-- Existing Images -->
    <div class="form-group">
        <label>الصورة الحالية</label>

        <div>
            @if (Model.ImagePath != null)
            {

                <div class="image-container" data-id="@Model.Id" style="display: inline-block; position: relative; margin: 5px;">
                    <img src="/Files/@Model.ImagePath" alt="student activity Image"
                         style="width: 80px; height: 80px; object-fit: cover; border: 1px solid #ccc;" />

                </div>

            }
            else
            {
                <p>لا توجد صور.</p>
            }
        </div>
    </div>
    <br />
    <!-- Upload New Images -->
    <div class="form-group">
        <label for="UploadedImages">تحديث الصورة</label>
        <input asp-for="UploadedImage" type="file" class="form-control" />
        <span asp-validation-for="UploadedImage" class="text-danger"></span>
    </div>

    <br />
    <div class="form-group">
        <label asp-for="IsActive" class="control-label">التفعيل</label>
        <input asp-for="IsActive" class="form-check-input" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">حفظ</button>
    <a asp-action="Index" class="btn btn-secondary">إلغاء</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}

