@model TrainigSectorDataEntry.ViewModel.QualityCertificateVM

@{
    ViewData["Title"] = "تعديل شهادات الجودة";
}

<h2 class="text-center" style="margin-bottom: 80px;">تعديل شهادات الجودة</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="EducationalFacilitiesId" class="control-label">اسم المنشأة التعليمية</label>
        <select asp-for="EducationalFacilitiesId" asp-items="ViewBag.educationalFacilityList" class="form-control">
            <option value="">-- اختر منشأة تعليمية --</option>
        </select>
        <span asp-validation-for="EducationalFacilitiesId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TitleAr" class="control-label">العنوان باللغة العربية</label>
        <input asp-for="TitleAr" class="form-control" />
        <span asp-validation-for="TitleAr" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TitleEn" class="control-label">العنوان باللغة الانجليزية</label>
        <input asp-for="TitleEn" class="form-control" />
        <span asp-validation-for="TitleEn" class="text-danger"></span>
    </div>

    <!-- Existing Images -->
    <div class="form-group">
        <label>الصورة الحالية</label>
      
        <div>
            @if (Model.ImagePath != null)
            {
               
                    <div class="image-container" data-id="@Model.Id" style="display: inline-block; position: relative; margin: 5px;">
                        <img src="@Model.ImagePath" alt="Project Image"
                             style="width: 80px; height: 80px; object-fit: cover; border: 1px solid #ccc;" />
                    
                    </div>
                
            }
            else
            {
                <p>لا توجد صور.</p>
            }
        </div>
    </div>

    <!-- Upload New Images -->
    <div class="form-group">
        <label for="UploadedImages">تحديث الصورة</label>
        <input asp-for="UploadedImage" type="file" class="form-control" />
        <span asp-validation-for="UploadedImage" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="IsActive" class="control-label">التفعيل</label>
        <input asp-for="IsActive" class="form-check-input" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">حفظ</button>
    <a asp-action="Index" class="btn btn-secondary">إلغاء</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}

