@model TrainigSectorDataEntry.ViewModel.StagesAndHallVM

@{
    ViewData["Title"] = "القاعات والمسارح";
}


<div class="container-fluid">
    <div class="contPage">


        <div class="orang2">
            <h3>إضافة قاعة او مسرح </h3>
            <div></div>
        </div>


    </div>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TrainigSectorId" class="control-label">اسم الجهة</label>
                <select asp-for="TrainigSectorId" asp-items="ViewBag.TrainingSectorList" class="form-control">
                    <option value="">-- اختر الجهة --</option>
                </select>
                <span asp-validation-for="TrainigSectorId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
       
        </div>
    </div>
        <div class="row">
    
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TitleAr" class="control-label">عنوان النبذة التاريخية باللغة العربية</label>
                    <input asp-for="TitleAr" class="form-control" />
                    <span asp-validation-for="TitleAr" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TitleEn" class="control-label">عنوان النبذة التاريخية باللغة الانجليزية</label>
                    <input asp-for="TitleEn" class="form-control" />
                    <span asp-validation-for="TitleEn" class="text-danger"></span>
                </div>
            </div>
        </div>
     <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DescriptionAr" class="control-label">التفاصيل باللغة العربية</label>
                    <textarea asp-for="DescriptionAr" class="form-control my-textarea"></textarea>
                    <span asp-validation-for="DescriptionAr" class="text-danger"></span>
                </div>
         
        </div>
        <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DescriptionEn" class="control-label">التفاصيل باللغة الانجليزية</label>
                    <textarea asp-for="DescriptionEn" class="form-control my-textarea"></textarea>
                    <span asp-validation-for="DescriptionEn" class="text-danger"></span>
                </div>
         
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                    <label for="UploadedImages">تحميل الصور</label>
                    <input asp-for="UploadedImages" type="file" multiple class="form-control" />
                    <span asp-validation-for="UploadedImages" class="text-danger"></span>
                </div>
        </div>
        <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">قاعة أم مسرح؟</label><br />

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="ISStage" type="radio" value="true" />
                        <label class="form-check-label">مسرح</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="ISStage" type="radio" value="false" />
                        <label class="form-check-label">قاعة</label>
                    </div>
                    <span asp-validation-for="ISStage" class="text-danger"></span>
                </div>
        </div>
    </div>
  
  
   
    <br />
    <div class="row">

        <div class="col-md-6">
            <button type="submit" class="button right-4tens float-left">


                <span class="button__text"> إضافة</span>
                <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>

            </button>
        </div>
        <div class="col-md-6">
            <a class="buttonremove right-4tens float-right" style="border: 1px solid #333333;background-color: #333333;" asp-action="Index">
                <span class="buttonremove__text"> إلغاء</span>
                <span class="buttonremove__icon" style="background-color: #333333;"> <i class="fa-solid fa-x"></i></span>
            </a>
        </div>
    </div>
    
</form>
<div class="card mt-5">
    <div class="card-header">
        <strong class="text-center" style="margin-bottom: 80px;">شهادات الجودة</strong>
    </div>
    <div class="card-body">


            <table class="table table-bordered table-striped" id="stagesAndHallTable">
            <thead class="thead-dark">
                <tr>
                    <th>الوصف باللغة العربية</th>
                    <th>الوصف باللغة الانجليزية</th>
                    <th>الجهة</th>
                    <th>قاعة أم مسرح</th>
                    <th>التفعيل</th>
                    <th>الصورة</th>
                </tr>
            </thead>
            <tbody>
                    @Html.Partial("_StagesAndHallPartial", (List<TrainigSectorDataEntry.ViewModel.StagesAndHallVM>)ViewBag.ExistingStagesAndHall)
                        </tbody>
        </table>

    </div>
</div>
    <div class="modal fade" id="uploadImageModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-controller="EntityImage"
                      asp-action="Upload"
                      method="post"
                      enctype="multipart/form-data">

                    <div class="modal-header">
                        <h5 class="modal-title">إضافة صور</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" name="EntityType" value=1 />
                        <input type="hidden" name="EntityId" id="entityIdInput" />

                        <input type="file" name="UploadedImages" multiple class="form-control" />
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">حفظ</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        <script>
               $(document).ready(function() {
                $('#TrainigSectorId').change(function() {
                    var trainingSectorId = $(this).val();
                    if (trainingSectorId) {
                        $.ajax({
                            url: '@Url.Action("GetStagesAndHallByTrainingSectorId", "StagesAndHall")',
                            type: 'GET',
                            data: { trainingSectorId: trainingSectorId },
                            success: function(data) {
                                $('#stagesAndHallTable tbody').html(data);
                            }
                        });
                    } else {
                        $('#stagesAndHallTable tbody').html('');
                    }
                });
            });
                   function openImageUpload(stagesAndHallId) {
                document.getElementById("entityIdInput").value = stagesAndHallId;
                var modal = new bootstrap.Modal(document.getElementById('uploadImageModal'));
                modal.show();
            }
        </script>
}
</div>