@model TrainigSectorDataEntry.ViewModel.ProjectVM

@{
    ViewData["Title"] = "المشاريع";
}


<div class="container-fluid">
    <div class="contPage">


        <div class="orang2">
            <h3>إضافة مشروع </h3>
            <div></div>
        </div>


    </div>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br />
    <div class="row">
            <div class="col-md-6">     
            <div class="form-group">
                <label asp-for="EducationalFacilitiesId" class="control-label">اسم المنشأة التعليمية</label>
                <select asp-for="EducationalFacilitiesId" asp-items="ViewBag.educationalFacilityList" class="form-control">
                    <option value="">-- اختر منشأة تعليمية --</option>
                </select>
                <span asp-validation-for="EducationalFacilitiesId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TitleAr" class="control-label">عنوان المشروع باللغة العربية</label>
                <input asp-for="TitleAr" class="form-control" />
                <span asp-validation-for="TitleAr" class="text-danger"></span>
            </div>
        </div>
    </div>
        <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="TitleEn" class="control-label">عنوان المشروع باللغة الانجليزية</label>
            <input asp-for="TitleEn" class="form-control" />
            <span asp-validation-for="TitleEn" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="DescriptionAr" class="control-label">تفاصيل المشروع باللغة العربية</label>
            <textarea asp-for="DescriptionAr" class="form-control my-textarea"></textarea>
            <span asp-validation-for="DescriptionAr" class="text-danger"></span>
        </div>
    </div>
        </div>
        <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="DescriptionEn" class="control-label">تفاصيل المشروع باللغة الانجليزية</label>
            <textarea asp-for="DescriptionEn" class="form-control my-textarea"></textarea>
            <span asp-validation-for="DescriptionEn" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Date" class="control-label">تاريخ المشروع</label>
            <input asp-for="Date" class="form-control" type="date" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>
        </div>
        <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="UploadedImages">تحميل الصور</label>
            <input asp-for="UploadedImages" type="file" multiple class="form-control" />
            <span asp-validation-for="UploadedImages" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
            </div>
    </div>
  
   
    <br />

        <div class="row">

            <div class="col-md-6">

                <button type="submit" class="button right-4tens float-left">
                    <span class="button__text"> إضافة </span>
                    <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
                </button>


            </div>
            <div class="col-md-6">

                <a class="buttonremove right-4tens float-right" style="border: 1px solid #333333;background-color: #333333;" asp-action="Index">

                    <span class="buttonremove__text"> إلغاء</span>
                    <span class="buttonremove__icon" style="background-color: #333333;"> <i class="fa-solid fa-x"></i></span>
                </a>

            </div>

        </div>
</form>
<div class="card mt-5">
    <div class="card-header">
        <strong class="text-center" style="margin-bottom: 80px;">المشاريع</strong>
    </div>
    <div class="card-body">
    

        <table class="table table-bordered table-striped" id="ProjectTable">
                <thead class="thead-dark">
                <tr>
                    <th>العنوان باللغة العربية</th>
                    <th>العنوان باللغة الانجليزية</th>
                    <th>المنشأت التعليمية</th>
                    <th>التاريخ</th>
                    <th>التفعيل</th>
                    <th>الصور</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("_ProjectsPartial", (List<TrainigSectorDataEntry.ViewModel.ProjectVM>)ViewBag.existingProjects)
            </tbody>
        </table>

    </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function() {
            $('#EducationalFacilitiesId').change(function() {
                var facilityId = $(this).val();
                if (facilityId) {
                    $.ajax({
                        url: '@Url.Action("GetProjectByFacility", "Projects")',
                        type: 'GET',
                        data: { facilityId: facilityId },
                        success: function(data) {
                            $('#ProjectTable tbody').html(data);
                        }
                    });
                } else {
                    $('#ProjectTable tbody').html('');
                }
            });
        });
    </script>
}
