@import url('../fontawesome/css/all.css');
@import url('../fontawesome/css/all.min.css');
html {
  font-size: 14px;
}
/** {
    box-sizing: border-box;
}


.menu {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
}

.sidebar {
    min-height: auto;
    border-left: none;
    padding: 10px;
}


@media (min-width: 576px) and (max-width: 991px) {

    .menu {
        max-width: 90%;
    }

    .sidebar {
        padding: 15px;
    }

    .contt {
        height: 120px;
    }
}

@media (hover: none) {
    p:hover {
        background: none;
        color: inherit;
        box-shadow: none;
    }
}

@media (min-width: 1200px) {
    .menu {
        max-width: 300px;
    }
}*/

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'cairo-regular';

}
.contPage {
    padding: 10px;
    margin: 10px;
    margin-right:40%;

}

.title {
    font-weight: bold;
    font-size: 26px;
}
.orang2 h3 {
    color: #e29e07;
    font-family: cairo-bold;
    margin-right: 10%;
}
.orang h3 {
    color: #e29e07;
    font-family: cairo-bold;
   
}


.orang div {
    width: 216px;
    height: 0px;
    border: 1px solid #9e9e9e59;
    position: relative;
}
.orang2 div {
    width: 216px;
    height: 0px;
    border: 1px solid #9e9e9e59;
    position: relative;
}

.orang div::before, .orang2 div::before {
    content: " ";
    position: absolute;
    width: 108px;
    height: 0px;
    border: 1px solid #e29e07;
    margin-top: -1px;
}

.orang div::after, .orang2 div::after {
    content: " ";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #e29e07;
    border-radius: 50%;
    margin-top: -7px;
    margin-left: -1px;
}
.table {
    font-family: cairo-bold;
    text-align: center;
    vertical-align:middle !important;
    border: solid 4px #e9e9e9 !important;
    font-size: 15px;
}
    .table th {
        vertical-align: middle !important;
        background-color: #333 !important;
        border: solid 3px #ebe8de !important;
        border-radius: 10px !important;
    }
    .table tr {
        vertical-align: middle !important;
        background-color: whitesmoke !important;
        border: solid 3px white !important;
        border-radius: 10px !important;
    }
        .table tr td {
            vertical-align: middle !important;
            border: solid 3px white !important;
            border-radius: 10px !important;
        }
/* Reset */


.buttonremove {
    position: relative;
    width: 120px;
    font-family: cairo-bold;
    height: 39px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #ee3f2e;
    background-color: #ee3f2e;
}

.buttonremove, .buttonremove__icon, .buttonremove__text {
    transition: all 0.3s;
}

    .buttonremove .buttonremove__text {
        /*transform: translateX(30px);*/
        color: #fff;
        font-weight: 600;
        margin-right: 35%;
    }
.right-4tens {
margin-right:0.4%;
}
.buttonremove .buttonremove__icon {
    position: absolute;
    transform: translateX(10px);
    height: 105%;
    width: 39px;
    background-color: #ee3f2e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonremove .svg {
    width: 30px;
    stroke: #fff;
}

.buttonremove:hover {
    background: #ee3f2e;
}

    .buttonremove:hover .buttonremove__text {
        color: transparent;
    }

    .buttonremove:hover .buttonremove__icon {
        width: 124px;
    }


.buttoneimg {
    position: relative;
    width: 120px;
    font-family: cairo-bold;
    height: 39px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #0899e2;
    background-color: #0899e2;
    margin-bottom: 3px;
}

.buttoneimg, .buttoneimg__icon, .buttoneimg__text {
    transition: all 0.3s;
}

    .buttoneimg .buttoneimg__text {
        /*transform: translateX(30px);*/
        color: #fff;
        font-weight: 600;
        margin-right: 35%;
    }

.right-4tens {
    margin-right: 0.4%;
}
.buttoneimg span {
    font-size: 14px !important;
}

.buttoneimg .buttoneimg__icon {
    position: absolute;
    transform: translateX(10px);
    height: 105%;
    width: 39px;
    background-color:#0899e2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttoneimg .svg {
    width: 30px;
    stroke: #fff;
}

.buttoneimg:hover {
    background: #0899e2;
}

    .buttoneimg:hover .buttoneimg__text {
        color: transparent;
    }

    .buttoneimg:hover .buttoneimg__icon {
        width: 124px;
    }
.buttonedit {
    position: relative;
    width: 120px;
    font-family: cairo-bold;
    height: 39px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #ffb800;
    background-color: #ffb800;
    margin-bottom: 3px;
}

.buttonedit, .buttonedit__icon, .buttonedit__text {
    transition: all 0.3s;
}

    .buttonedit .buttonedit__text {
        /*transform: translateX(30px);*/
        color: #fff;
        font-weight: 600;
        margin-right: 35%;
    }

.right-4tens {
    margin-right: 0.4%;
}

.buttonedit .buttonedit__icon {
    position: absolute;
    transform: translateX(10px);
    height: 105%;
    width: 39px;
    background-color: #ffb800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonedit .svg {
    width: 30px;
    stroke: #fff;
}

.buttonedit:hover {
    background: #ffb800;
}

    .buttonedit:hover .buttonedit__text {
        color: transparent;
    }

    .buttonedit:hover .buttonedit__icon {
        width: 124px;
    }
.button {
    position: relative;
    width: 28%;
    font-family: cairo-bold;
    height: 39px;
    cursor: pointer;
    display: flex;
   
    align-items: center;

    border: 1px solid #e30713;
    background-color: #e30713;
}

.button, .button__icon, .button__text {
    transition: all 0.3s;
}
    .button span {
        width: 100%;
        text-align: center !important;
    }
    .button .button__text {
        /*transform: translateX(30px);*/
        color: #fff;
        font-weight: 600;
        justify-content: center; /* أفقي */
        text-align: center !important;
    }
    .button .button__text  span{
        /*transform: translateX(30px);*/
        text-align: center !important;
    }
.right-4tens {
    margin-right: 0.4%;
}

.button .button__icon {
    position: absolute;
    transform: translateX(10px);
    height: 105%;
    width: 39px;
    background-color: #d70712;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 30px;
    stroke: #fff;
}

.button:hover {
    background: #d70712;
}

    .button:hover .button__text {
        color: transparent;
    }

    .button:hover .button__icon {
        width: 100%;
    }
.fa-toggle-on {
color:forestgreen;
font-size:30px;
cursor:pointer
}
.fa-edit, .fa-x {
    color: white;
    font-size: 16px;
}

.button:active .button__icon {
    background-color: #d70712;
}

.button:active {
    border: 1px solid #d70712;
}
.titlee {
    margin-top: 20px;
    font-weight: bold;
    font-size: 26px;
}

.sidebar {
    min-height: 100vh;
    border-left: 1px solid #333;
    padding-top: 20px;
    /* background-color: #333; width:400px; */


    /*background-image: url('../images/menu.png');*/
}
@import "https://fonts.googleapis.com/css?family=Montserrat";
.bk-blk {
    background-color: #333 !important;
}

.menu {
    width: 300px;
    margin: 60px auto 0;
    cursor: pointer;
   height:fit-content
   
}

.title {
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    padding: 14px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 0 40px -10px #000;
    color: #505050
}

span {
    float: right;
    font-size: 18px !important
}

.dropdown {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 40px -10px #000;
    color: #505050;
    margin-top: 24px;
    overflow:visible;

    
    transition: all .5s
}

.down {
    max-height:300px
}

.arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    right: 20px;
    bottom: -24px;
    display: none
}

    .arrow.gone {
        display: block
    }

p {
    padding: 5px 7px;
    margin: 0;
    transition: all .1s;
  
}

    p:hover {
        background: #c49d44;
        -webkit-transform: scale(1.05);
        color: white !important;
        font-family:cairo-bold;
        font-weight:bold;
        box-shadow: 0 0 20px -10px #000
    }

    .sidebar .nav-link.active {
        font-weight: bold;
        /* background-color: #e9ecef; */
    }
.contt {
    background: -moz-linear-gradient(45deg, #bd8b01 0%, #000000 29%, #f9be3f 66%, black 100%);
    background: -webkit-linear-gradient(45deg, #bd8b01 0%, #000000 29%, #f9be3f 66%, black 100%);
    background: linear-gradient(45deg, #bd8b01 0%, #000000 29%, #f9be3f 66%, black 100%);
    background-size: 400% 400%;
    width: 100%;
    height: 140px !important;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    /* min-height: calc(100vh - 2rem);*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
}

.headTit {
    color: white !important;
    font-weight: bold;
    padding-top: 30px;
    line-height:5px;
    font-size:22px;
    font-family: 'pt bold heading';
    display:inline-block
}
.exit {
    color: white !important;
    font-weight: bold;
    padding-top: 0px;
    margin-right:30%;
    line-height: 5px;
    font-size: 15px;
    font-family: 'pt bold heading';
    display: inline-block;
}
.inverse {
    transform: rotate(180deg);
}
.inverse90 {
    transform: rotate(90deg);
}
.display-inline {
    display: inline-block;
    margin-right: -10px;
}
@font-face {
    font-family: 'pt bold heading';
    src: url('../fontawesome/pt bold heading.ttf') format('truetype');
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../font-awesome/fonts/fontawesome-webfonte0a5.ttf') format('truetype');
}
@font-face {
    font-family: 'cairo-bold';
    src: url('../fontawesome/cairo-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'cairo-regular';
    src: url('../fontawesome/cairo-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'cairo-semibold';
    src: url('../fontawesome/cairo-semibold.ttf') format('truetype');
}
.fa-sign-out, fa-home-alt {
    font-family: 'FontAwesome' !important;
    transform: rotate(180deg);
    font-weight: bold; /* مهم للأيقونات الصلبة */
    font-size: 15px;
    color: white;
    margin-right: 5px;
    top: 0px !important;
}
.contt::before,
.contt::after {
    content: "";
    width: 100vmax;
    height: 100vmax;
    position: absolute;
    background: rgba(255, 255, 255, 0.07);
    left: -20vmin;
    top: -20vmin;
    animation: morph 15s linear infinite alternate, spin 20s linear infinite;
    z-index: 1;
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
    pointer-events: none;
}


    .animated-header::after {
        width: 70vmin;
        height: 70vmin;
        left: auto;
        right: -10vmin;
        top: auto;
        bottom: 0;
        animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
        transform-origin: 20% 20%;
    }

@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    }

    100% {
        border-radius: 40% 60%;
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.st0 {
    display: none;
}

.st1 {
    display: inline;
}

.st2 {
    opacity: 0.29;
}

.st3 {
    fill: #FFFFFF;
}

.st4 {
    clip-path: url(#SVGID_2_);
    fill: #FFFFFF;
}

.st5 {
    clip-path: url(#SVGID_4_);
}

.st6 {
    clip-path: url(#SVGID_6_);
}

.st7 {
    clip-path: url(#SVGID_8_);
}

.st8 {
    clip-path: url(#SVGID_10_);
}

.st9 {
    fill: none;
}

.st10 {
    clip-path: url(#SVGID_12_);
}

.st11 {
    opacity: 0.7;
}

.st12 {
    clip-path: url(#SVGID_14_);
}

.st13 {
    opacity: 0.2;
}

.st14 {
    clip-path: url(#SVGID_16_);
}

.st15 {
    opacity: 0.3;
    fill: #FFFFFF;
    enable-background: new;
}
.footer[b-zq43j1xyrg] {
    position: unset !important;
    bottom: unset !important;
    margin-top: -1px;
    background-color: #333;
}
.colory {
    color:#ffd780
}
.colorOrg {
    color: #fab621;

}
a {
    color: #000000;
    text-decoration: none;
}

.Homme {
    font-family: "Cairo";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    letter-spacing: 1px;
    line-height: 2
}

h1 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 50px;
    margin: 10px 0;
}
/* styling my button */

.white-mode {
    text-decoration: none;
    width: 100%;
    color: #333;
    border-radius: 2px;
    transition: .35s ease-in-out;
    position: absolute;
    background-color: #eeeeee;
    font-family: cairo-bold;
}

    .white-mode:hover {
       cursor:pointer;
        background-color: #333;
        color: #FFF;
      
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000000 !important;
    font-family: cairo-bold !important;
    font-weight: bold;
    font-size: 16px !important;
}
.nav {
    padding-inline-start: 0;
}
.nav-link {
    color: #000000 !important;
    font-family: cairo-bold !important;
    font-weight: bold;
    font-size: 16px !important;

}
    .nav-link:hover, .nav-link:focus {
        color: white !important;
        font-family: cairo-bold !important;
        font-weight: bold;
        font-size: 16px !important;
    }

i {
    font-family: 'fontawesome-free-5.15.4-web' !important;
}
.btn-warning {
    background-color: #2284ee;
    border-color: #2284ee;
    margin-left: 5px;
}
.mar-t-35{
    margin-top:35px;
}

/* Make toasts more visible and match page style */
.toast {
    opacity: 1 !important;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    padding: 15px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

/* Success toast */
.toast-success {
    background-color: #198754 !important; /* green */
    color: white !important;
}

/* Error toast */
.toast-error {
    background-color: #dc3545 !important; /* red */
    color: white !important;
}

/* Info toast */
.toast-info {
    background-color: #17a2b8 !important; /* blue */
    color: white !important;
}

/* Warning toast */
.toast-warning {
    background-color: #ffc107 !important; /* yellow */
    color: black !important;
}
