@import url('../fontawesome/css/all.css');
@import url('../fontawesome/css/all.min.css');
@import "compass";
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'cairo-regular';
}
.navl {
    position: fixed;
    width: 300px;
    top: 3em;
    bottom: 3em;
    left: 0;
    z-index: 100;
    overflow: hidden;
    transform: translate3d(-150px, 0, 0);
    transition: transform 0.6s;
}

.nav-menu {
    position: relative;
    list-style: none;
    width: calc(100% + 25px);
    height: 100%;
    padding: 0 140px 2em 25px;
    overflow-y: auto;
    z-index: 100;
}

.nav--open {
    transform: translate3d(0, 0, 0);
}

    .nav--open .nav-toggle span {
        opacity: 0;
    }

    .nav--open .nav-toggle::before {
        transform: rotate3d(0, 0, 1, 45deg);
    }

    .nav--open .nav-toggle::after {
        transform: rotate3d(0, 0, 1, -45deg);
    }

.nav-morph {
    position: absolute;
    width: 240px;
    height: 100%;
    top: 0;
    right: 0;
}

    .nav-morph svg path {
        stroke: #F06292;
        stroke-width: 5px;
    }

/* NAV TOGGLE */
.nav-toggle {
    position: absolute;
    top: 3px;
    right: 70px;
    width: 30px;
    height: 24px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 2000;
}

    .nav-toggle::before, .nav-toggle::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        top: 50%;
        background: #F06292;
        transform-origin: 50% 50%;
        transition: transform 0.25s;
    }

    .nav-toggle::before {
        transform: translate3d(0, -10px, 0);
    }

    .nav-toggle::after {
        transform: translate3d(0, 10px, 0);
    }

    .nav-toggle span {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #F06292;
        left: 0;
        overflow: hidden;
        text-indent: 200%;
        transition: opacity 0.25s;
    }
.contt {
    background: -moz-linear-gradient(45deg, #bd8b01 0%, #000000 29%, #f9be3f 66%, black 100%);
    background: -webkit-linear-gradient(45deg, #bd8b01 0%, #000000 29%, #f9be3f 66%, black 100%);
    background: linear-gradient(45deg, #bd8b01 0%, #000000 29%, #f9be3f 66%, black 100%);
    background-size: 400% 400%;
    width: 100%;
    height: 140px !important;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    /* min-height: calc(100vh - 2rem);*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
}

.headTit {
    color: white !important;
    font-weight: bold;
    padding-top: 30px;
    line-height:5px;
    font-size:22px;
    font-family: 'pt bold heading';
    display:inline-block
}
.exit {
    color: white !important;
    font-weight: bold;
    padding-top: 0px;
    margin-right:30%;
    line-height: 5px;
    font-size: 15px;
    font-family: 'pt bold heading';
    display: inline-block;
}
@font-face {
    font-family: 'pt bold heading';
    src: url('../fontawesome/pt bold heading.ttf') format('truetype');
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../font-awesome/fonts/fontawesome-webfonte0a5.ttf') format('truetype');
}
@font-face {
    font-family: 'cairo-bold';
    src: url('../fontawesome/cairo-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'cairo-regular';
    src: url('../fontawesome/cairo-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'cairo-semibold';
    src: url('../fontawesome/cairo-semibold.ttf') format('truetype');
}
.fa-sign-out {
    font-family: 'FontAwesome' !important;
    transform: rotate(180deg);
    font-weight: bold; /* مهم للأيقونات الصلبة */
    font-size: 15px;
    color: white;
    margin-right:5px;
    top:0px!important;
}
.contt::before,
.contt::after {
    content: "";
    width: 100vmax;
    height: 100vmax;
    position: absolute;
    background: rgba(255, 255, 255, 0.07);
    left: -20vmin;
    top: -20vmin;
    animation: morph 15s linear infinite alternate, spin 20s linear infinite;
    z-index: 1;
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
    pointer-events: none;
}


    .animated-header::after {
        width: 70vmin;
        height: 70vmin;
        left: auto;
        right: -10vmin;
        top: auto;
        bottom: 0;
        animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
        transform-origin: 20% 20%;
    }

@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    }

    100% {
        border-radius: 40% 60%;
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.st0 {
    display: none;
}

.st1 {
    display: inline;
}

.st2 {
    opacity: 0.29;
}

.st3 {
    fill: #FFFFFF;
}

.st4 {
    clip-path: url(#SVGID_2_);
    fill: #FFFFFF;
}

.st5 {
    clip-path: url(#SVGID_4_);
}

.st6 {
    clip-path: url(#SVGID_6_);
}

.st7 {
    clip-path: url(#SVGID_8_);
}

.st8 {
    clip-path: url(#SVGID_10_);
}

.st9 {
    fill: none;
}

.st10 {
    clip-path: url(#SVGID_12_);
}

.st11 {
    opacity: 0.7;
}

.st12 {
    clip-path: url(#SVGID_14_);
}

.st13 {
    opacity: 0.2;
}

.st14 {
    clip-path: url(#SVGID_16_);
}

.st15 {
    opacity: 0.3;
    fill: #FFFFFF;
    enable-background: new;
}
.footer[b-zq43j1xyrg] {
    position:unset !important;
    bottom: unset !important;
}
a {
    color: #000000;
    text-decoration:none;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link
 {
    color: #000000;
    font-weight:bold;
}
.nav {
    padding-inline-start: 0;
}
.nav-link {
    font-weight: bold;
    color: #5c4500;
}

i {
    font-family: 'fontawesome-free-5.15.4-web' !important;
}
.btn-warning {
    background-color: #2284ee;
    border-color: #2284ee;
    margin-left: 5px;
}
.mar-t-35{
    margin-top:35px;
}