@model TrainigSectorDataEntry.ViewModel.TrainingCoursesTypeVM

@{
    ViewData["Title"] = "تعديل انواع الدورات التدريبية";
}

<style>
    .contPage {
        margin-right: 25%;
    }
</style>
<div class="container-fluid">
    <div class="contPage">


        <div class="orang2">
            <h3>تعديل انواع الدورات التدريبية </h3>
            <div></div>
        </div>


    </div>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br />
    <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TrainingSectorId" class="control-label">اسم الجهة</label>
                    <select asp-for="TrainingSectorId" asp-items="ViewBag.TrainingSectorList" class="form-control">
                        <option value="">-- اختر الجهة --</option>
                    </select>
                    <span asp-validation-for="TrainingSectorId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NameAr" class="control-label">الاسم باللغة العربية</label>
                    <input asp-for="NameAr" class="form-control" />
                    <span asp-validation-for="NameAr" class="text-danger"></span>
                </div>
            </div>
    </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NameEn" class="control-label">الاسم باللغة الانجليزي</label>
                    <input asp-for="NameEn" class="form-control" />
                    <span asp-validation-for="NameEn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IsActive" class="control-label">التفعيل</label>
                    <input asp-for="IsActive" class="form-check-input" />
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
            </div>
        </div>
     
   
   
    
    <br />

        <div class="row">

            <div class="col-md-6">

                <button type="submit" class="button right-4tens float-left">
                    <span class="button__text"> حفظ </span>
                    <span class="button__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg save-icon">

                            <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                            <polyline points="17 21 17 13 7 13 7 21"></polyline>
                            <polyline points="7 3 7 8 15 8"></polyline>

                        </svg>
                    </span>
                </button>


            </div>
            <div class="col-md-6">

                <a class="buttonremove right-4tens float-right" style="border: 1px solid #333333;background-color: #333333;" asp-action="Index">

                    <span class="buttonremove__text"> إلغاء</span>
                    <span class="buttonremove__icon" style="background-color: #333333;"> <i class="fa-solid fa-x"></i></span>
                </a>

            </div>

        </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}

</div>