@model TrainigSectorDataEntry.ViewModel.SucessStoryVM

@{
    ViewData["Title"] = "إضافة قصة نجاح";
}


<div class="container-fluid">
    <div class="contPage">


        <div class="orang2">
            <h3>إضافة قصة نجاح </h3>
            <div></div>
        </div>


    </div>
<br />

<form asp-action="Create" method="post" enctype="multipart/form-data">
  
    <br />
    <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TrainigSectorId">الجهة</label>
                    <select asp-for="TrainigSectorId" asp-items="ViewBag.TrainingSectorList" class="form-control">
                        <option value="">-- اختر الجهة --</option>
                    </select>

                    <span asp-validation-for="TrainigSectorId" class="text-danger"></span>
                </div>
            </div>
        </div>
    <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TitleAr">عنوان قصة النجاح باللغة العربية</label>
                    <input asp-for="TitleAr" class="form-control" />
                    <span asp-validation-for="TitleAr" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TitleEn">عنوان قصة النجاح باللغة الانجليزية</label>
                    <input asp-for="TitleEn" class="form-control" />
                    <span asp-validation-for="TitleEn" class="text-danger"></span>
                </div>
            </div>
    </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DescriptionAr" class="control-label">تفاصيل قصة النجاح باللغة العربية</label>
                    <textarea asp-for="DescriptionAr" class="form-control my-textarea"></textarea>
                    <span asp-validation-for="DescriptionAr" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DescriptionEn" class="control-label">تفاصيل قصة النجاح باللغة الانجليزية</label>
                    <textarea asp-for="DescriptionEn" class="form-control my-textarea"></textarea>
                    <span asp-validation-for="DescriptionEn" class="text-danger"></span>
                </div>

            </div>
        </div>
    
        <div class="row">
            
            <div class="col-md-6">
                <div class="form-group">
                    <label for="UploadedImage">تحميل الصورة</label>
                    <input asp-for="UploadedImage" type="file" multiple class="form-control" />
                    <span asp-validation-for="UploadedImage" class="text-danger"></span>
                </div>
            </div>
        </div>
   
   
    
@*     <div class="form-group">
        <label asp-for="IsExternalLink">هل هو رابط خارجي؟</label>
        <input asp-for="IsExternalLink" type="checkbox" class="form-check-input" id="isExternalLinkCheckbox" />
    </div>

    <div class="form-group" id="externalLinkDiv" style="display:none;">
        <label asp-for="VedioPath">رابط الفيديو</label>
        <input asp-for="VedioPath" class="form-control" />
        <span asp-validation-for="VedioPath" class="text-danger"></span>
    </div>

    <div class="form-group" id="uploadDiv">
        <label asp-for="VedioFile">ارفع الفيديو</label>
        <input asp-for="VedioFile" type="file" class="form-control" />
        <span asp-validation-for="VedioFile" class="text-danger"></span>
    </div>
 *@
    <br />
        <div class="row">

            <div class="col-md-6">

                <button type="submit" class="button right-4tens float-left">
                    <span class="button__text"> حفظ </span>
                    <span class="button__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg save-icon">

                            <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                            <polyline points="17 21 17 13 7 13 7 21"></polyline>
                            <polyline points="7 3 7 8 15 8"></polyline>

                        </svg>
                    </span>
                </button>


            </div>
            </div>
</form>
<br />
<div class="card mt-5">
    <div class="card-header">
        <strong class="text-center" style="margin-bottom: 80px;">قصة نجاح</strong>
    </div>
    <div class="card-body">


            <table class="table table-bordered table-striped" id="sucessStoryTable">
                <thead class="thead-dark">
                <tr>
                    <th>عنوان قصة النجاح باللغة العربية</th>
                    <th>عنوان قصة النجاح باللغة الانجليزية</th>
                    <th>الجهة</th>
                    <th>التفعيل</th>
                    <th>الصورة</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    @Html.Partial("_SucessStoryPartial", (List<TrainigSectorDataEntry.ViewModel.SucessStoryVM>)ViewBag.ExistingSucessStory)
                            </tbody>
        </table>

    </div>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function() {
            $('#TrainigSectorId').change(function() {
                var trainingSectorId = $(this).val();
                if (trainingSectorId) {
                    $.ajax({
                        url: '@Url.Action("GetSucessStoryByTrainingSectorId", "SucessStory")',
                        type: 'GET',
                        data: { trainingSectorId: trainingSectorId },
                        success: function(data) {
                            $('#sucessStoryTable tbody').html(data);
                        }
                    });
                } else {
                    $('#sucessStoryTable tbody').html('');
                }
            });
        });
    </script>
 @*    <script>
        function toggleInputFields() {
            const isExternal = document.getElementById('isExternalLinkCheckbox').checked;
            document.getElementById('externalLinkDiv').style.display = isExternal ? 'block' : 'none';
            document.getElementById('uploadDiv').style.display = isExternal ? 'none' : 'block';
        }

        document.getElementById('isExternalLinkCheckbox').addEventListener('change', toggleInputFields);

        // Trigger on page load
        toggleInputFields();
    </script> *@
}

