@model TrainigSectorDataEntry.ViewModel.SpecializationVM

@{
    ViewData["Title"] = "تعديل التخصصات";
}


<a class="button right-4tens " href="/News/Create">
    <span class="button__text"> تعديل التخصصات</span>
    <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
</a>



<form asp-action="Edit" method="post" >
    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br />
    <div class="form-group">
        <label asp-for="EducationalFacilitiesId" class="control-label">اسم المنشأة التعليمية</label>
        <select asp-for="EducationalFacilitiesId" asp-items="ViewBag.educationalFacilityList" class="form-control">
            <option value="">-- اختر منشأة تعليمية --</option>
        </select>
        <span asp-validation-for="EducationalFacilitiesId" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="NameAr" class="control-label">الاسم باللغة العربية</label>
        <input asp-for="NameAr" class="form-control" />
        <span asp-validation-for="NameAr" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="NameEn" class="control-label">الاسم باللغة الانجليزي</label>
        <input asp-for="NameEn" class="form-control" />
        <span asp-validation-for="NameEn" class="text-danger"></span>
    </div>

   

    <br />
    <div class="form-group">
        <label asp-for="IsActive" class="control-label">التفعيل</label>
        <input asp-for="IsActive" class="form-check-input" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">حفظ</button>
    <a asp-action="Index" class="btn btn-secondary">إلغاء</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}

