@model TrainigSectorDataEntry.ViewModel.HistoryBerifImageVM

@{
    ViewData["Title"] = "إضافة صور للنبذة التاريخية";
}

<h2 class="text-center" style="margin-bottom: 80px;">إضافة صور للنبذة التاريخية</h2>

<form asp-action="AddImages" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="HistoryBreifId" />
    <br />
       <div class="form-group">
        <label asp-for="Name" class="control-label">الاسم باللغة العربية</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label>اختار صور</label>
        <input asp-for="UploadedImages" type="file" multiple class="form-control" />
        <span asp-validation-for="UploadedImages" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">تحميل</button>
    <a asp-action="Index" class="btn btn-secondary">الرجوع للقائمة</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
