@model TrainigSectorDataEntry.ViewModel.TrainingCourseVM

@{
    ViewData["Title"] = "تعديل الدورات التدريبية";
}


<div class="container-fluid">
    <div class="contPage">


        <div class="orang2">
            <h3>تعديل الدورات التدريبية </h3>
            <div></div>
        </div>


    </div>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br />
    <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TrainigCoursesTypesId" class="control-label">نوع الدورات التدريبية</label>
                    <select asp-for="TrainigCoursesTypesId" asp-items="ViewBag.TrainingCoursesTypeList" class="form-control">
                        <option value="">-- اختر نوع الدورات التدريبية --</option>
                    </select>
                    <span asp-validation-for="TrainigCoursesTypesId" class="text-danger"></span>
                </div>
            </div>
           
    </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NameAr" class="control-label">الاسم باللغة العربية</label>
                    <input asp-for="NameAr" class="form-control" />
                    <span asp-validation-for="NameAr" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NameEn" class="control-label">الاسم باللغة الانجليزي</label>
                    <input asp-for="NameEn" class="form-control" />
                    <span asp-validation-for="NameEn" class="text-danger"></span>
                </div>
            </div>
         
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Existing File Preview -->
                @if (!string.IsNullOrEmpty(Model.FilePathAr))
                {
                    <div class="form-group">
                        <label>الملف العربي الحالي:</label><br />

                        <a asp-controller="Files" asp-action="Download" asp-route-filePath="@Model.FilePathAr">
                            تحميل الملف العربي الحالي
                        </a>
                        @* <a href="@("/Storage/" + Model.FilePath)" target="_blank">تحميل الملف الحالي</a> *@



                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.FilePathEn))
                {
                    <div class="form-group">
                        <label>الملف الانجليزي الحالي:</label><br />

                        <a asp-controller="Files" asp-action="Download" asp-route-filePath="@Model.FilePathEn">
                            تحميل الملف الانجليزي الحالي
                        </a>
                        @* <a href="@("/Storage/" + Model.FilePath)" target="_blank">تحميل الملف الحالي</a> *@



                    </div>
                }
            </div>
            <div class="col-md-6">
                <!-- File Upload -->
                <div class="form-group">
                    <label for="UploadedFile">تحديث الملف العربي الحالي (اختياري)</label>
                    <input asp-for="UploadedFileAr" type="file" class="form-control" />
                    <span asp-validation-for="UploadedFileAr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="UploadedFile">تحديث الملف الانجليزي الحالي (اختياري)</label>
                    <input asp-for="UploadedFileEn" type="file" class="form-control" />
                    <span asp-validation-for="UploadedFileEn" class="text-danger"></span>
                </div>
            </div>
         
        </div>
    <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IsActive" class="control-label">التفعيل</label>
                    <input asp-for="IsActive" class="form-check-input" />
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
            </div>

    </div>
  

    <br />
        <div class="row">

            <div class="col-md-6">

                <button type="submit" class="button right-4tens float-left">
                    <span class="button__text"> حفظ </span>
                    <span class="button__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg save-icon">

                            <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                            <polyline points="17 21 17 13 7 13 7 21"></polyline>
                            <polyline points="7 3 7 8 15 8"></polyline>

                        </svg>
                    </span>
                </button>


            </div>
            <div class="col-md-6">

                <a class="buttonremove right-4tens float-right" style="border: 1px solid #333333;background-color: #333333;" asp-action="Index">

                    <span class="buttonremove__text"> إلغاء</span>
                    <span class="buttonremove__icon" style="background-color: #333333;"> <i class="fa-solid fa-x"></i></span>
                </a>

            </div>

        </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}

</div>