@model TrainigSectorDataEntry.ViewModel.CommunityAndInternationalEngagementVM

@{
    ViewData["Title"] = "المشاركات المجتمعية و الدولية";
}


<div class="container-fluid">
    <div class="contPage">


        <div class="orang2">
            <h3> إضافة مشاركات مجتمعية و دولية </h3>
            <div></div>
        </div>


    </div>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TitleAr" class="control-label">العنوان باللغة العربية</label>
                <input asp-for="TitleAr" class="form-control" />
                <span asp-validation-for="TitleAr" class="text-danger"></span>
            </div>
        </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TitleEn" class="control-label">العنوان باللغة الانجليزية</label>
                    <input asp-for="TitleEn" class="form-control " />
                    <span asp-validation-for="TitleEn" class="text-danger"></span>
                </div>
            </div>
    </div>
    <div class="row">
      
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DescriptionAr" class="control-label">التفاصيل باللغة العربية</label>
                <textarea asp-for="DescriptionAr" class="form-control my-textarea"></textarea>
                <span asp-validation-for="DescriptionAr" class="text-danger"></span>
            </div>
        </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DescriptionEn" class="control-label">التفاصيل باللغة الانجليزية</label>
                    <textarea asp-for="DescriptionEn" class="form-control my-textarea"></textarea>
                    <span asp-validation-for="DescriptionEn" class="text-danger"></span>
                </div>
            </div>
    </div>
    <div class="row">
      
        <div class="col-md-6">
            <div class="form-group">
                <label for="UploadedImage">تحميل الصورة</label>
                <input asp-for="UploadedImage" type="file" e class="form-control" />
                <span asp-validation-for="UploadedImage" class="text-danger"></span>
            </div>
        </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">محلية ام دولية </label><br />

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="Type" type="radio" value="true" />
                        <label class="form-check-label">محلية</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="Type" type="radio" value="false" />
                        <label class="form-check-label">دولية</label>
                    </div>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>
    </div>
 
   

   

    <br />

    <div class="row">

        <div class="col-md-6">

            <button type="submit" class="button right-4tens float-left">
                <span class="button__text"> إضافة </span>
                <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
            </button>


        </div>
        <div class="col-md-6">

            <a class="buttonremove right-4tens float-right" style="border: 1px solid #333333;background-color: #333333;" asp-action="index">

                <span class="buttonremove__text"> إلغاء</span>
                <span class="buttonremove__icon" style="background-color: #333333;"> <i class="fa-solid fa-x"></i></span>
            </a>

        </div>

    </div>
</form>
<div class="card mt-5">
    <div class="card-header">
            <strong class="text-center" style="margin-bottom: 80px;">المشاركات المجتمعية و الدولية</strong>
    </div>
    <div class="card-body">
            <h3>المشاركات المجتمعية و الدولية</h3>

            <table class="table table-bordered table-striped" id="CommunityAndInternationalEngagementTable">
            <thead class="thead-dark">
                <tr>
                        <th>العنوان باللغة العربية</th>
                        <th>العنوان باللغة الانجليزية</th>
                      
                        <th>النوع</th>
                        <th>التفعيل</th>
                        <th>الصورة</th>
                        <th></th>
                </tr>
            </thead>
            <tbody>
                    @Html.Partial("_CommunityAndInternationalEngagementPartial", (List<TrainigSectorDataEntry.ViewModel.CommunityAndInternationalEngagementVM>)ViewBag.existingCommunityAndInternationalEngagement)

                         </tbody>
        </table>

    </div>
</div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
@*     <script>
        $(document).ready(function() {
            $('#EducationalFacilitiesId').change(function() {
                var facilityId = $(this).val();
                if (facilityId) {
                    $.ajax({
                        url: '@Url.Action("GetCommunityAndInternationalEngagementByFacility", "CommunityAndInternationalEngagement")',
                        type: 'GET',
                        data: { facilityId: facilityId },
                        success: function(data) {
                            $('#CommunityAndInternationalEngagementTable tbody').html(data);
                        }
                    });
                } else {
                    $('#CommunityAndInternationalEngagementTable tbody').html('');
                }
            });
        });
    </script> *@
}
